body {
  font-family: 'Bebas Neue', cursive;
}

/* Background Images */
.hero {
  background-image: url("../images/mountain1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.history {
  background-image: url("../images/mountain2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.team {
  background-image: url("../images/mountain3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Navigation Bar Styles */

.logo {
  position: absolute;
  top: 10px;
}

.navbar {
  position: absolute;
  height: 65px;
  font-weight: 100;
  stroke: 10;
  transition: all ease 0.2s;
  z-index: 2;
}

.navbar-toggler {
  position: absolute;
  top: 12px;
  right: 15px;
}

.collapse {
  border-radius: 5%;
}

.collapsed-navbar {
  position: absolute;
  width: 110px;
  right: 0px;
  top: 60px;
}

.nav-link {
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  font-style: italic;
  font-size: 0.9rem;
  padding-left: 10px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100vw;
}

.sticky-navbar {
  background-color: white;
}

.logo-text {
  position: absolute;
  top: 10px;
  left: 65px;
  height: 50px;
  width: 75px;
  visibility: hidden;
}

#losangeles-logo-text,
#mountains-logo-text {
  position: absolute;
  font-size: 1.5rem;
  margin: 0px;
}

#losangeles-logo-text{
  color: rgb(112, 112, 112);
}

#mountains-logo-text {
  top: 19px;
  letter-spacing: 0.9px;
  background: -webkit-linear-gradient(rgb(56, 68, 99), rgb(31, 38, 54));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HERO SECTION STYLES */
.site-intro-text {
  padding-top: 250px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  vertical-align: top;
}

#losangeles-text {
  height: 75px;
  color: rgb(65, 65, 65);
  margin: 0;
  padding-top: 10px;
}

#mountains-text {
  height: 75px;
  background: -webkit-linear-gradient(rgb(56, 68, 99), rgb(31, 38, 54));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  letter-spacing: 2.5px;
}


/* HISTORY SECTION STYLES */
.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-number {
  height: 105px;
  padding: 5px;
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  font-size: 7rem;
  font-weight: 900;
  opacity: 0.2;
}

.history-topic-container {
  position: relative;
}

.history-topic {
  color: rgb(0, 16, 51);
  position: absolute;
  top: 50px;
  letter-spacing: 1px;
  font-weight: 700;
  opacity: 0.6;
  font-family: 'Bebas Neue', cursive;
}

.history-topic::before {
  position: absolute;
  content: "";
  background-color: black;
  height: 18px;
  width: 18px;
  top: 10px;
  opacity: 0.4;
  /* z-index: 1; */
  top: 37px;
}

.history-text,
.team-text {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding-left: 25px;
}

.carousel-container {
  background-color: rgb(56, 68, 99);
  height: 200px;
  opacity: 0.8;
  left: 0;
  bottom: 0;
}

.carousel-img {
  margin: 20px 5px 10px;
}

/* TEAM SECTION STYLES */
.team-section-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 25px 15px 15px 15px;
}

.team-topic {
  color: rgb(0, 16, 51);
  position: absolute;
  top: 50px;
  letter-spacing: 1px;
  font-weight: 700;
  opacity: 0.6;
  font-family: 'Bebas Neue', cursive;
}

.team-topic::before {
  position: absolute;
  content: "";
  background-color: black;
  height: 18px;
  width: 18px;
  top: 10px;
  opacity: 0.4;
  top: 37px;
}

.team-text {
  padding-right: 5px;
}

.mountain-schedule-nav {
  background-color: rgb(62, 73, 102);
  display: flex;
  justify-content: center;
}

.schedule-link {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  padding: 5px 20px;
}

#mountainlink1,
#mountainlink2 {
  color: rgb(155, 155, 155);
  padding-bottom: 2px;
}

#mountainlink1:hover,
#mountainlink2:hover {
  background-color: rgb(155, 155, 155);
  color: rgb(62, 73, 102);
  text-decoration: underline;
}

.active {
  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(155, 155, 155, 0.2);
}

.mountain-schedule {
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  margin-top: 100px;
  padding: 15px 0px;
}

#mountain-schedule2 {
  display: none;
}

table {
  margin: auto;
}

th {
  padding-left: 25px;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  color: rgb(62, 73, 102);
}

td {
  text-align: center;
}

#wide-dates {
  line-height: 75px;
}
